@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'P22Mackinac';
  src: url('/assets/font/P22Mackinac-Bold_23.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'P22Mackinac';
  src: url('/assets/font/P22Mackinac-BoldItalic_7.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'P22Mackinac';
  src: url('/assets/font/P22Mackinac-BoldItalicSC_10.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'P22Mackinac';
  src: url('/assets/font/P22Mackinac-Medium_6.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'P22Mackinac';
  src: url('/assets/font/P22MackinacPro-Medium_26.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'P22Mackinac';
  src: url('/assets/font/P22Mackinac-MedItalic_22.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}